<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>982642162798-077oa345kglcpm39smhp4ljfpm4j6jmh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.982642162798-077oa345kglcpm39smhp4ljfpm4j6jmh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>982642162798-clmudpma90dou0haq9gidto2hhdbouq0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAI4okup3BFXFRTKBHnCxf9PLA6kCUA6UE</string>
	<key>GCM_SENDER_ID</key>
	<string>982642162798</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ranadawar.quranteacher</string>
	<key>PROJECT_ID</key>
	<string>quranteacher-6b9bf</string>
	<key>STORAGE_BUCKET</key>
	<string>quranteacher-6b9bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:982642162798:ios:ae013386eb0a7380573a7f</string>
</dict>
</plist>